<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>

        {% block title %}

            GitHub Repository Analyzer

        {% endblock %}

    </title>

    <!-- Global CSS -->

    <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/base.css') }}"
    >

    <!-- Page-specific CSS -->

    {% block css %}

    {% endblock %}

</head>

<body>

    {% block content %}

    {% endblock %}

    <!-- Page-specific JavaScript -->

    {% block javascript %}

    {% endblock %}

</body>

</html>