<article class="dashboard-card health-card">


    <header class="card-header">

        <h3>
            Repository Health
        </h3>

    </header>


    <div class="card-body">


        <div class="health-item">

            Created

            <strong>
                -
            </strong>

        </div>


        <div class="health-item">

            Updated

            <strong>
                -
            </strong>

        </div>


        <div class="health-item">

            License

            <strong>
                -
            </strong>

        </div>


    </div>


</article>