<article class="dashboard-card languages-card">


    <header class="card-header">

        <h3>
            Languages
        </h3>

    </header>


    <div class="card-body">


        <div class="chart-container">

            <canvas id="language-chart">

            </canvas>

        </div>


        <div class="language-legend">


            <div class="legend-item">

                <span class="legend-color">

                </span>

                Python

            </div>


            <div class="legend-item">

                <span class="legend-color"></span>

                JavaScript

            </div>


        </div>


    </div>


</article>
