<article class="dashboard-card metrics-card">


    <header class="card-header">

        <h3>
            Repository Metrics
        </h3>

    </header>


    <div class="card-body metrics-grid">


        <div class="metric">

            <span>
                Stars
            </span>

            <strong>

                {{ repository.stargazers_count }}

            </strong>

        </div>


        <div class="metric">

            <span>
                Forks
            </span>

            <strong>
                {{ repository.forks_count }}
            </strong>

        </div>


        <div class="metric">

            <span>
                Watchers
            </span>

            <strong>
                -
            </strong>

        </div>


        <div class="metric">

            <span>
                Issues
            </span>

            <strong>
                -
            </strong>

        </div>


    </div>


</article>