<aside
    id="owner-pane"
    class="owner-panel"
>

    <div class="owner-panel-header">


        <button
            id="owner-toggle"
            class="owner-toggle"
            type="button"
        >

            <

        </button>

    </div>


    <div class="owner-content">


        <img
            class="owner-avatar"
            src="{{ owner.avatar_url }}"
            alt="{{ owner.login }} avatar"
        >


        <h2 class="owner-name">
            {{ owner.name or owner.login or "N/A" }}
        </h2>


        <p class="owner-bio">
            {{ owner.bio or "No bio provided." }}
        </p>


        <div class="owner-stats">


            <div class="owner-stat">

                <span>
                    Followers
                </span>

                <strong>
                    {{ owner.followers }}
                </strong>

            </div>


            <div class="owner-stat">


                <span>
                    Following
                </span>

                <strong>
                    {{ owner.following }}
                </strong>

            </div>

            <div class="owner-stat">


                <span>
                    Public Repositories
                </span>

                <strong>
                    {{ owner.public_repos }}
                </strong>

            </div>


        </div>


    </div>


</aside>
