<aside
    id="owner-pane"
    class="owner-panel"
>

    <div class="owner-panel-header">


        <button
            id="owner-toggle"
            class="owner-toggle"
            type="button"
        >

            <

        </button>

    </div>


    <div class="owner-content">


        <img
            class="owner-avatar"
            src=""
            alt="Repository owner avatar"
        >


        <h2 class="owner-name">

            Repository Owner

        </h2>


        <p class="owner-bio">

            Owner information will appear here.

        </p>


        <div class="owner-stats">


            <div class="owner-stat">

                <span>
                    Followers
                </span>

                <strong>
                    -
                </strong>

            </div>


            <div class="owner-stat">


                <span>
                    Following
                </span>

                <span>
                    -
                </span>

            </div>


            <div class="owner-stat">


                <span>
                    Public Repositories
                </span>


                <strong>
                    -
                </strong>

            </div>


        </div>


    </div>


</aside>
